<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="description" content="<%= description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <!-- <link rel="apple-touch-icon" href="icon.png"> -->
    <meta name="theme-color" content="#fafafa">
    <!-- Place favicon.ico in the root directory -->

    <script>
      const loc = window.location
      window.location = `${loc.origin}/?__path=${encodeURIComponent(loc.pathname + loc.search + loc.hash)}`
    </script>
  </head>
  <body></body>
</html>
