<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="description" content="<%= description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <meta name="theme-color" content="#fafafa">

    <meta property="og:type" content="website" />
    <meta property="og:title" content="<%= title %>" />
    <meta property="og:description" content="<%= description %>" />

    <meta name="twitter:title" content="<%= title %>" />
    <meta name="twitter:description" content="<%= description %>" />

    <%- head.join('\n') %>

    <link href="<%= files.css.index %>" rel="stylesheet" />
    <script>
      window.__config = {
        title: "<%= title %>",
        description: "<%= description %>",
        baseUrl: "<%= baseUrl %>",
        bots: <%= bots %>,
        issueLabels: <%- JSON.stringify(issueLabels) %>,
        projects: <%- JSON.stringify(projects) %>,
        files: <%- JSON.stringify(files) %>
      }
    </script>
  </head>
  <body>
    <script src="<%= files.js.index %>"></script>
  </body>
</html>
