@import './normalize.css';
@import './normalize-content.css';

body {
  background-color: rgb(249, 250, 251);
}

main {
  width: 100vw;
  max-width: 100vw;
  padding: 1.5rem;
}

#main-index {
  display: grid;
  gap: 1.5rem;
  grid-template-areas: "issues issues users";
}

.issues-list {
  grid-area: issues;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;

  a {
    color: rgb(113, 113, 122);
  }

  h1 {
    margin-bottom: 0;
    color: rgb(9, 9, 11);
  }

  ul {
      li {
        border: 1px solid #ddd;
        border-radius: .5rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 1rem;
    }
  }

  .issue-title {
    font-weight: 600;
    color: rgb(9, 9, 11);
  }
}
.users-list {
  grid-area: users;
}

.users-list li {
  display: flex;
  align-items: center;

  a {
    display: flex;   
    align-items: center;
  }
}

.avatar {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  overflow: hidden;
  border-radius: 50%;
  border: .125rem solid #ccc;
  margin-right: .25rem;

  img {
    max-width: 100%;
  }
}

.issues-list,
.users-list {
  background-color: #fff;
  border-radius: .5rem;
  height: 100%;
  padding: 1.5rem;
  font-size: 13px;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
  }
}

